<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style1.css">
</head>
<body>
    <div class="row">
        <div id="first" class="col-3">
            <img src="images/p1.jpg" alt="product1">
        </div>
        <div id="second" class="col-2">
            Hi
        </div>
        <div id="third" class="col-2">
            Bye
        </div>
    </div>
</body>
</html>